<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset("bundles/css/jquery-ui.min.css") }}">
            <link rel="stylesheet" href="{{ asset("bundles/css/style.css") }}">
        {% endblock %}
        <meta name="description" content="">
        <meta name="author" content="Jérôme Butel">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
            <h1 class="page-header"><a style="color: #337ab7; text-decoration: none;" href="{{ path('homepage') }}">Musée du Louvre</a><br><small>Réservation en ligne</small></h1>
        </div>

        {% block body %}{% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="https://js.stripe.com/v2/"></script> {# Intégration de Stripe #}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script src="{{ asset("bundles/js/jquery-ui.min.js") }}"></script>
            <script src="{{ asset("bundles/js/main.js") }}"></script>
        {% endblock %}
    </body>
</html>
