{% extends "base.html.twig" %}

{% block title %}Vos informations{% endblock %}

{% block body %}
    <div class="container">

        {% for message in app.session.flashbag.get('notice') %}
            <p class="alert alert-success">{{ message }}</p>
        {% endfor %}

        <div class="alert alert-info tarifs-container">
            <h3>Tarifs</h3>
            <ul>
                <li>12 &euro; à partir de 12 ans (tarif &laquo; normal &raquo;)</li>
                <li>8 &euro; à partir de 4 ans et jusqu'à 12 ans (tarif &laquo; enfant &raquo;, entrée gratuite pour les moins de 4 ans)</li>
                <li>12 &euro; à partir de 60 ans (tarif &laquo; senior &raquo;)</li>
                <li>10 &euro; dans certaines conditions (tarif &laquo; réduit &raquo; pour étudiants, employés de musée, service du Ministère de la Culture, militaires, ...)</li>
            </ul>
        </div>

        <div id="reservation">
            <div class="row">
                <div class="col-xs-12 col-sm-7">
                    {{ form(form) }}
                </div>

                <div class="col-xs-12 col-sm-offset-1 col-sm-4">
                    <div class="summary well">
                        <h3>Votre réservation</h3>
                        <strong>Date de votre réservation : </strong> {{ app.session.get('reservation').date|date('d/m/Y') }}
                        <br>
                        <strong>Type de billet choisi : </strong> {{ app.session.get('reservation').type }}<br>
                        <strong>Nombre de billets : </strong> {{ app.session.get('reservation').ticketsNumber }}<br><br>
                        {% if app.session.get('reservation').reduction %}
                            <em><strong>Je dispose</strong> du tarif réduit.</em>
                        {% else %}
                            <em>Je ne dispose pas du tarif réduit.</em>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}