{% extends "base.html.twig" %}

{% block title %}Vos informations{% endblock %}

{% block body %}
    <div class="container">

        {% for message in app.session.flashbag.get('notice') %}
            <p class="alert alert-success">{{ message }}</p>
        {% endfor %}

        <div id="reservation">
            <div class="row">
                <div class="col-xs-12 col-sm-7">
                    {{ form_start(form) }}
                    <input type="submit" value="Etape suivante">
                    {{ form_end(form) }}
                </div>

                <div class="col-xs-12 col-sm-offset-1 col-sm-4">
                    <div class="summary well">
                        <h3>Votre réservation</h3>
                        <strong>Date de votre réservation : </strong> {{ app.session.get('booking').date|date('d/m/Y') }}
                        <br>
                        <strong>Type de billet choisi : </strong> {{ app.session.get('booking').type }}<br>
                        <strong>Nombre de billets : </strong> {{ app.session.get('booking').ticketsNumber }}<br><br>
                    </div>
                </div>
            </div>
        </div>

        {% include "Reservation/inc/prices.html.twig" %}
    </div>
{% endblock %}