{% extends "base.html.twig" %}

{% block title %}Vos informations{% endblock %}

{% block body %}
    <div class="container main-container">
        {% include "inc/title.html.twig" %}

        <div id="reservation">
            <div class="row">
                <div class="col-xs-12 col-sm-3">
                    {% include "inc/prices.html.twig" %}
                </div>

                <div class="col-xs-12 col-sm-6">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <p class="form-buttons text-right">
                        <button type="submit" class="btn go-back" id="go-back"><span class="glyphicon glyphicon-arrow-left"></span> Retour</button>
                        <button type="submit" class="btn continuer-button">Continuer <span class="glyphicon glyphicon-arrow-right"></span></button>
                    </p>
                    {{ form_end(form) }}
                </div>

                <div class="col-xs-12 col-sm-3">
                    <div class="summary">
                        <h4><span class="glyphicon glyphicon-shopping-cart"></span> Votre réservation</h4>
                        <p>Date de votre réservation : {{ app.session.get('booking').date|date('d/m/Y') }}</p>
                        <p>Type de billet choisi : {{ app.session.get('booking').type }}</p>
                        <p>Nombre de billets : {{ app.session.get('booking').ticketsNumber }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
