{% extends 'base.html.twig' %}

{% block title %}Paiement - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container main-container">
        {% include "Reservation/inc/title.html.twig" %}

        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>Prénom</th>
                            <th>Nom</th>
                            <th>Naissance</th>
                            <th>Pays</th>
                            <th>Réduction</th>
                            <th>Prix</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for client in booking.clients %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ client.firstname }}</td>
                                <td>{{ client.lastname }}</td>
                                <td>{{ client.birthdate|date('d/m/Y') }}</td>
                                <td>{{ client.country }}</td>
                                <td>
                                    {% if client.discount %}
                                        Oui
                                    {% else %}
                                        Non
                                    {% endif %}
                                </td>
                                <td>{{ client.price }}</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Total :</strong> {{ price }} &euro;</td>
                        </tr>
                    </tbody>
                </table>

                <div id="status">
                    <form action="{{ path('checkout') }}" method="post">
                        <script src="https://checkout.stripe.com/checkout.js"
                                class="stripe-button"
                                data-key="pk_test_gAdOsVrMQy9Blcxn88rKlVA7" 
                                data-amount="{{ price }}00" 
                                data-name="Musée du Louvre" 
                                data-description="Réservation de billets"
                                data-label="Payer par carte" 
                                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                                data-locale="auto" 
                                data-zip-code="true" 
                                data-currency="eur">
                        </script>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}