{% extends "base.html.twig" %}

{% block body %}
    <div class="container main-container">
        {% include "Reservation/inc/title.html.twig" %}

        <div id="reservation">
            <div class="row">
                <div class="col-xs-12 col-sm-7">
                    {% for message in app.session.flashbag.get('notice') %}
                        <p class="alert alert-success">{{ message }}</p>
                    {% endfor %}

                    <form class="form" action="">
                        <div class="form-group">
                            <input type="text" name="name" required placeholder="Votre nom" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Votre numéro de carte" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="MM" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="YY" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="CVC" class="form-control">
                        </div>
                        <p class="text-right">
                            <button type="submit" class="btn btn-default go-back"><span class="glyphicon glyphicon-arrow-left"></span> Retour</button>
                            <button class="btn btn-success" type="submit">Acheter</button>
                        </p>
                    </form>
                </div>

                <div class="col-xs-12 col-sm-offset-1 col-sm-4">
                    <aside class="summary well">
                        <h4>Votre réservation</h4>
                        <strong>Date de votre réservation : </strong> {{ app.session.get('booking').date|date('d/m/Y') }}
                        <br>
                        <strong>Type de billet choisi : </strong> {{ app.session.get('booking').type }}<br>
                        <strong>Nombre de billets : </strong> {{ app.session.get('booking').ticketsNumber }}<br><br>

                        <h4>Vos informations</h4>
                        {% for client in booking.clients %}
                            <p>
                                <u>Réservation {{ loop.index }} :</u><br>
                                <strong>Nom : </strong> {{ client.lastname }} <br>
                                <strong>Prénom : </strong> {{ client.firstname }} <br>
                                <strong>Email : </strong> {{ client.email }} <br>
                                <strong>Date de naissance : </strong> {{ client.birthdate|date('d/m/Y') }} <br>
                                <strong>Pays : </strong> {{ client.country }} <br>
                                {% if client.discount %}
                                    <p>Dispose d'une réduction. <small>Justificatif</small> </p>
                                {% endif %}
                            </p>
                        {% endfor %}

                        <h4>Prix</h4>
                        {{ price }} &euro;
                    </aside>
                </div>
            </div>
        </div>
    </div>
{% endblock %}