{% extends 'base.html.twig' %}

{% block title %}Paiement - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container main-container">
        {% include "inc/title.html.twig" %}

        <div class="row">
            <h4 class="text-center">Récapitulatif</h4>
            <p class="recap text-center">La réservation de <strong>{{ booking.ticketsNumber }}</strong> billet(s) pour le <strong>{{ booking.date|date('d/m/Y') }}</strong> est effectuée au nom de <strong>{{ booking.bookingName }}</strong>. Vous souhaitez visiter le musée pour une <strong>{{ booking.type }}</strong>.</p>

            <hr>

            <h4 class="text-center">Visiteurs</h4>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-condensed">
                    <thead class="">
                        <tr>
                            <th>#</th>
                            <th>Prénom</th>
                            <th>Nom</th>
                            <th>Réduction</th>
                            <th>Prix</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for client in booking.clients %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ client.firstname }}</td>
                                <td>{{ client.lastname }}</td>
                                <td>
                                    {% if client.discount %}
                                        Oui
                                    {% else %}
                                        Non
                                    {% endif %}
                                </td>
                                <td>{{ client.price }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="text-right">
                <label for="total">Total : </label>
                <input class="text-right" type="number" placeholder="{{ price }} &euro;" readonly />
            </div>

            <div id="status">
                <form action="{{ path('checkout') }}" method="post">
                    <button type="submit" class="btn go-back" id="go-back"><span class="glyphicon glyphicon-arrow-left"></span> Retour</button>
                    <script src="https://checkout.stripe.com/checkout.js"
                            class="stripe-button"
                            data-key="pk_test_gAdOsVrMQy9Blcxn88rKlVA7" 
                            data-amount="{{ price }}00" 
                            data-name="Musée du Louvre" 
                            data-description="Réservation de billets"
                            data-label="Payer" 
                            data-image="https://www.guideapolis.fr/resources/uploaded/tours/T13720324194707.jpg"
                            data-locale="auto" 
                            data-currency="eur">
                    </script>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
